@media screen and (min-width: 378px) {
    body {
        background-color: rgb(248, 248, 248);
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
    }

    li a {
        text-decoration: none;
    }

    .navbarTop {
        background-color: #26c1f0;
        height: 55px;
        width: 100%;
        top: 0;
        position: fixed;
        z-index: 1000;
        align-items: center;
        text-align: center;
        line-height: 55px;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
    }

.navbarTop ul{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        width: 100%;
        height: 55px;
 }

.navbarTop ul a {
    position: relative;
    right: 20px;
    text-decoration: none;
    color: #FFFFFF;
}

    .arrow{
        width: 20px;
        margin: 5px;
        padding-top: 3px;
        align-items: center;
        justify-content: center;
        fill: #FFFFFF;
    }

    .appName {
        margin: 5 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .appName a {
        position: relative;
        right: 40px;
        list-style: none;
        text-decoration: none;
        color: #fff;
        fill: #fff;
        padding: 10px;

    }

    .dropDown {
        width: 10px;
        fill: #fff;
        margin-left: 5px;
    }

    .navbarTop ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;

    }

    .mapSwitch {
        width: 25px;
        color: #fff;
        position: absolute;
        right: 0;
        margin-right: 15px;
    }

   .card{
   border: 1px solid rgb(136, 136, 136);
   margin: 5px auto;
   margin-top:50px ;
   margin-bottom: 20px;
   box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3) ;
   border-radius: 8px;
   height: 191px;
   overflow: hidden;
   width: 305px;
}

     img{
        max-height: 100%;  
        max-width: 100%; 
        }

    .cardcut{
   border: 1px solid rgb(136, 136, 136);
   margin: 5px auto;
   margin-top:50px ;
   margin-bottom: 20px;
   box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3) ;
   border-radius: 8px;
   height: 191px;
   overflow: hidden;
   width: 305px;
   height: 230px;
   background-color: #fff;
    }

.cardtext{
padding-top: 5px;
font-size: 12px;
padding-left: 15px;
}

.cardtext p{
        margin: 0 ;
        line-height: 25px;
}


form{
    max-width: 320px;
    margin: 3% auto;
}


form input[type=text]{
display: inline-block;
color: #2897ca;
width: 300px;
height: 50px;
font-size: 20px;
}



h4{
    display: inline-block;
    color: #2897ca;
    line-height: 5px;
}


sup{
    font-size: 5px;
    display: inline-block;
    color: #ca2828;
}


  .navbarBottom {
        background-color: #fff;
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 1000;
        box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
    }

    .navbarBottom ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 64px;
    }



    .navbarBottom li a {
        font-size: 10px;
        color: #6bd2f2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    .navbarBottom li i {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .navbarBottom li svg {
        height: 18px;
        margin-bottom: 5px;
    }

    .navbarBottom li .function-focus {
        color: #2897ca;
    }

.fixed{
position: fixed;
right: 20px;
bottom: 100px;
width: 60px;
height: 60px;
fill: #5ABCEB;
}

}