@media screen and (min-width: 378px) {
    body {
        background-color: rgb(248, 248, 248);
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
    }

    li a {
        text-decoration: none;
    }

    .navbarTop {
        background-color: #26c1f0;
        height: 55px;
        width: 100%;
        top: 0;
        position: fixed;
        z-index: 1000;
        align-items: center;
        text-align: center;
        line-height: 55px;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
    }

  .navbarTop li a {
        padding: 5px;
        padding-left: 10px;
        color: #fff;
        font-size: 18px;
    }


    .store a{
        margin: 5 auto;
        display: flex;
        padding-right: 16px ;
        justify-content: center;
        text-decoration:none;
        color: #ffffff;
    }


    .appName a {
        position: relative;
        right: 40px;
        list-style: none;
        text-decoration: none;
        color: #fff;
        fill: #fff;
        padding: 10px;

    }

    .dropDown {
        width: 10px;
        fill: #fff;
        margin-left: 5px;
    }

.navbarTop ul{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        width: 370px;
        height: 55px;
 }

.peo{
 position: relative;
        left: 120px;
}


    .text{
        padding-top: 40px;
        width: 100%;
        height:50px;
        background-color: #fff;
    }

    h3{
    color: #2897ca;
    height: 20px;
    width: 100%;
    line-height: 5px;
    margin: 5px;
    }


    .text h4{
        display: flex;
        color: #5ABCEB;
        align-items: center;
        padding-left: 10px;
    }

    
.card{
        width: 320px;
        height: 200px;
        background-color: #fff;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3) ;
        position: relative;
        margin: 20px auto;


}

  .card img{
        background-size: cover;
        background-position: center;
        max-height: 100%;  
        max-width: 100%; 
        }


.checkbox{
    height:30px;
    width: 30px;
    font-size: 25px;
    background-color:#2897ca;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    
}

form{
    height: 720px;
    margin: 3% auto;
}

    
.card2{
   border: 1px solid rgb(136, 136, 136);
   margin: 3% auto;
   margin-top:50px ;
   margin-bottom: 40px;
   box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3) ;
   border-radius: 8px;
   height: 191px;
   overflow: hidden;
   width: 305px;
}

     img{
        max-height: 100%;  
        max-width: 100%; 
        }

.form2{
    max-width: 320px;
    margin: 3% auto;
}

form select{
    width: 305px;
    height: 50px;
    font-size: 20px;
    color: #2897ca;
}

form input[type=date] {
    color: #2897ca;
    font-size: 20px;
    width: 300px;
    height: 50px;
    
    }


 input[type=button] {
    background-color: #5ABCEB;
    border: none;
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    color: #fff;
    font-size: 25px;
    border-radius: 20px;
    bottom: 0px;
    left: 0;
    position: fixed;
}

div.num { 
    background: rgba(0, 0, 0, 0.5); 
    width:  100%; 
    height:  100%; 
    z-index: 1000; 
    top:  0; 
    left:  0; 
    position: fixed; 
} 

.tile h2{
    background-color: #2896C7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 40%;
    border-radius: 20px 20px 0 0;
    color: #fff;
    letter-spacing: 10px;
    padding: 15px ;
    width: 320px;
}

.context{
    padding: 80px 14px 80px 14px;
    width: 320px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
}

  .navbarBottom {
        background-color: #fff;
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 1000;
        box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
    }

    .navbarBottom ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 64px;
    }



    .navbarBottom li a {
        font-size: 10px;
        color: #6bd2f2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    .navbarBottom li i {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .navbarBottom li svg {
        height: 18px;
        margin-bottom: 5px;
    }

    .navbarBottom li .function-focus {
        color: #2897ca;
    }


}