@media screen and (min-width: 378px) {
    body {
        background-color: rgb(248, 248, 248);
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
    }

    li a {
        text-decoration: none;
    }

    .navbarTop {
        background-color: #26c1f0;
        height: 55px;
        width: 100%;
        top: 0;
        position: fixed;
        z-index: 1000;
        align-items: center;
        text-align: center;
        line-height: 55px;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
    }

    .appName {
        margin: 5 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        padding-right: 25px;
    }

    .arrow{
        width: 20px;
        margin: 5px;
        padding-top: 3px;
        align-items: center;
        justify-content: center;
        fill: #FFFFFF;
    }
    
    .store a{
        margin: 5 auto;
        display: flex;
        padding-right: 16px ;
        justify-content: center;
        text-decoration:none;
        color: #ffffff;
    }


    .appName a {
        position: relative;
        right: 40px;
        list-style: none;
        text-decoration: none;
        color: #fff;
        fill: #fff;
        padding: 10px;

    }

    .dropDown {
        width: 10px;
        fill: #fff;
        margin-left: 5px;
    }

.navbarTop ul{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        width: 370px;
        height: 55px;
 }

.peo{
 position: relative;
        left: 100px;
}


    .text{
        padding-top: 40px;
        width: 100%;
        height:50px;
        background-color: #fff;
    }

    .text h4{
        display: flex;
        color: #5ABCEB;
        align-items: center;
        padding-left: 10px;
    }

    
.card{
        width: 320px;
        height: 200px;
        background-color: #fff;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3) ;
        position: relative;
        margin: 20px auto;


}

  .card img{
        background-size: cover;
        background-position: center;
        max-height: 100%;  
        max-width: 100%; 
        }


.checkbox{
    height:30px;
    width: 30px;
    font-size: 25px;
    background-color:#2897ca;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    
}

form{
    height: 720px;
    margin: 3% auto;
}

    



 input[type=button] {
    background-color: #5ABCEB;
    border: none;
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    color: #fff;
    font-size: 25px;
    border-radius: 20px;
    bottom: 0px;
    left: 0;
    position: fixed;
}


    .navbarBottom {
        background-color: #fff;
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 1000;
        box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);

    }

    .navbarBottom ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }



    .navbarBottom li a {
        height: 64px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        color: #6bd2f2;
    }

    .navbarBottom li .function-focus {
        color: #2897ca;
    }

    .navbarBottom svg {
        height: 25px;
        margin: 5px;
    }
}