@media screen and (min-width: 378px) {

    * {
        font-family: Arial, Helvetica, sans-serif;
    }


    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    li {
        list-style: none;
    }

    li a {
        text-decoration: none;
    }

    .navbarTop {
        background-color: rgba(38, 193, 240);
        width: 100%;
        height: 55px;
        position: fixed;
        top: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: 1000;
        padding: 10px;
        box-shadow: 1px 2px 5px rgba(165, 165, 165, 0.248);
    }

    .appName {
        margin: 5 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
    }

    .appName a {
        position: relative;
        right: 40px;
        list-style: none;
        text-decoration: none;
        color: #fff;
        fill: #fff;
        padding: 10px;

    }

    .dropDown {
        width: 10px;
        fill: #fff;
        margin-left: 5px;
    }

    .navbarTop ul {
        margin: 0;
        padding: 0;
        width: 80px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

    }

    .mapSwitch {
        width: 25px;
        margin: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .filter {
        color: #fff;
        font-size: 25px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

    }



    .navbarBottom {
        background-color: #fff;
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 1000;
        box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);

    }

    .navbarBottom ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }



    .navbarBottom li a {
        height: 64px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        color: #6bd2f2;
    }

    .navbarBottom li .function-focus {
        color: #2897ca;
    }

    .navbarBottom svg {
        height: 25px;
        margin: 5px;
    }

    /* 疫苗地圖 */
    .container svg {
        width: 25px;
        fill: #2897ca;
    }

    .container a {
        text-decoration: none;
        color: rgb(38, 38, 38);
    }

    .clinicData {
        width: 100%;
        height: 100%;
        margin-top: 55px;
        background-color: rgb(248, 248, 248);
        margin-bottom: 64px;
    }

    .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 2px 8px;
    }

    .item {
        width: 356px;
        margin: 5px auto;
        padding: 5px;
        background-color: #fff;
        border-radius: 10px;
        bottom: 1px solid #dddddd;
        box-shadow: 2px 3px 5px #dddddd;
    }



    .clinic,
    .vacNum,
    .opened {
        margin: 2px;
        display: flex;
        align-items: center;
    }

    .opened .price {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        position: relative;
        left: 106px;
        font-size: 10px;

    }



    .pubEx,
    .ownEx {
        background-color: hsl(167, 79%, 50%);
        border-radius: 19px;
        padding: 2px 10px;
        margin-bottom: 3px;
        margin: 0 5px;
        text-align: center;
        align-items: center;
        color: #fff;
        font-weight: bold;

    }



    .clinic svg,
    .vacNum svg,
    .opened svg {
        margin: 8px;
    }

    .opened svg {
        width: 22px;
    }

    .opened .blue {
        color: rgba(38, 193, 240);
        font-size: 10px;
        margin-right: 10px;
    }

    .opened p {
        margin: 0;
    }

    .container svg {
        justify-content: center;
    }

    /* 疫苗配送診所詳細 */
    .navbarTop-cli {
        background-color: #26c1f0;
        height: 55px;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1000;
        align-items: center;

    }

    .navbarTop-cli ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .nameCli {
        margin: 0 auto;
        position: relative;
        right: 16px;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        line-height: 55px;
    }

    .back {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }


    .navbarBottom-cli {
        background-color: #fff;
        height: 64px;
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 1000;
        box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
    }

    .navbarBottom-cli ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .navbarBottom-cli .reserve {
        background-color: rgba(38, 193, 240);
        border-radius: 15px;
        padding: 10px;
        margin: 5px;
        margin-left: 0;
    }

    .navbarBottom-cli .reserve a {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        margin: 10px 32px;
        padding: 10px 90px;
    }

    .navbarBottom-cli .heart {
        margin: 15px;
        width: 30px;
    }

    .navbarBottom-cli .heart a {
        padding: 15px 0;
    }


    h4 {
        color: rgba(38, 193, 240);
    }

    .content-cli {
        margin-top: 55px;
        margin-bottom: 64px;
    }

    .itemImg {
        width: 356px;
        height: 300px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-image: url('../介面/1608563894416.jpg');
        background-position: center;
        margin-top: 10px;
        box-shadow: 1px 2px 5px #dddddd;
    }


    /* 地址 */

    .address-cli {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 5px;
        color: rgb(53, 53, 53);
    }

    .address-cli svg {
        margin: 10px;
        margin-left: 8px;
        /* margin-right: 10px; */
        /* margin-bottom: 15px; */
        width: 20px;
    }

    /*營業時間 */
    .open-cli {
        margin-bottom: 54px;
        padding: 5px;
        margin: auto;
        color: rgb(170, 170, 170);
    }


    .dot {
        background-color: #dddddd;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        margin: auto;
    }

    .time-table th,
    .time-table td {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 10px;
        border-bottom: 2px solid #26c1f0;
    }

    .time-table {
        width: 100%;
        border-collapse: collapse;
        border: 2px solid #26c1f0;
    }

    .blue-font {
        color: rgba(38, 193, 240);
        font-weight: bold;
    }

    .blue-dot {
        background-color: rgba(38, 193, 240);
    }

    tr .no {
        border-right: 2px solid #26c1f0;
        padding: 5px;
    }

    thead .not-open {
        border-bottom: 1px solid #ddd;
        border-left: 2px solid #26c1f0;
    }

    /* 疫苗數量 */

    .num-cli {
        margin-top: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        color: rgb(53, 53, 53);
    }

    .num-cli svg {
        margin: 10px;
        /* margin-right: 5px; */
        height: 25px;
    }

    /* 配送中 */
    .car-cli {
        padding: 5px;
        margin-top: 15px;
        width: 100%;
 
    }

    .processContainer {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
    }


    .processContainer ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0 3%;
    }

    .process li {
        position: relative;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .process li::before {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        background-color: #26c1f0;
        border-radius: 50%;
        content: "●";
        color: white;
        font-size: 1em;
        line-height: 1.5em;
        text-align: center;
        margin: 0px 50px 10px 0px;
    }

    .process .not::before {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        background-color: rgb(170, 170, 170);
        border-radius: 50%;
        content: "●";
        color: white;
        font-size: 1em;
        line-height: 1.5em;
        text-align: center;
        margin: 0px 50px 10px 0px;
    }

    .process li::after {
        position: absolute;
        content: "";
        top: -10px;
        left: -2.5em;
        z-index: -1;
        /* 讓線條置於圓圈後 */
        height: 110%;
        border-left: 1px solid #26c1f0;
        padding-left: 20px;
        transform: rotate(90deg);
    }

    .process li:first-child::after {
        border-left: none;
    }

    .car-icon {
        width: 100%;
        font-size: 10px;
        display: flex;
        justify-content: flex-end;
        /* margin-top: 30px;
        margin-bottom: 10px; */

    }

    .car-icon a {
        padding: 30px 125px 5px 0px;
        display: flex;

    }

    .car-icon i {
        color: #2897ca;
    }

    /* 檢查貨車位置 */

    .container .item-min {
        width: 356px;
        height: 300px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-image: url('../介面/car-po.JPG');
        background-position: right;
        background-size: 150%;
        margin-top: 10px;
        box-shadow: 1px 2px 5px #dddddd;
        position: relative;
    }

    .item-min i {
        position: absolute;
        left: 30px;
        top: 140px;
        font-size: 20px;
        width: 40px;
        height: 40px;
        color: #2897ca;
        border: 2px solid #2897ca;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        background-color: #fff;
    }

    /* 紀錄 */
    .record {
        background-color: #26c1f0;
        height: 55px;
        width: 100%;
        top: 0;
        position: fixed;
        z-index: 1000;
        align-items: center;
        text-align: center;
        line-height: 55px;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
    }

    .record-reserve {
        margin-top: 55px;
        margin-bottom: 70px;
    }

    .nav-pills {
        background-color: #fff;
        box-shadow: 1px 2px 5px rgba(165, 165, 165, 0.248);
        width: 100%;
        position: fixed;
        top: 55px;
        z-index: 999;
    }

    .record-fixed {
        display: flex;
        position: fixed;
        top: 95px;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        z-index: 999;
        background-color: #fff;

    }

    .record-fixed nav {

        display: flex;
        justify-content: center;

    }

    .march {
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        height: 350px;
        font-size: 18px;
        box-shadow: 2px 2px 5px rgba(165, 165, 165, 0.248);
        color: rgb(170, 170, 170);
    }

    .march td a {
        text-decoration: none;
        color: rgb(170, 170, 170);
    }



    .march th {
        color: #26c1f0;
        font-weight: bold;

    }

    .march th,
    .march td {
        text-align: center;
        padding: 10px;
    }



    .march .reserve-focus a {
        background-color: #26c1f0;
        border-radius: 10px;
        padding: 6px;
        color: #fff;
    }



    .record-card {
        margin-top: 531px;

    }

    .card ul {
        margin: 0;
        padding: 0;
    }

    .card {
        width: 356px;
        margin: 5px auto;
        padding: 10px;
        border-radius: 20px;
        bottom: 1px solid #dddddd;
        box-shadow: 2px 3px 5px #dddddd;
    }

    .card a .card li {
        margin-top: 5px;

    }

    .schedule {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h6 {
        color: #2897ca;
    }

    .date {
        margin: 0;
    }

    .card i {
        color: #2897ca;
        font-size: 20px;
        margin: 10px;

    }

    .record-card h6 {
        margin: 10px;
    }

    .past-list,
    .past,
    .past h4,
    .past li i {
        color: rgb(170, 170, 170);
    }

    /* 圖像化地圖 */
    .navbarTop .list-ul {
        margin: 0;
        padding: 0;
        width: 80px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

    }



    .list-mapSwitch {
        font-size: 25px;
        padding: 5px 10px;
        color: #fff;
    }

    .bg-map {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        background-image: url('../介面/1.JPG');
        background-position: center;
        background-size: 120%;
        background-repeat: no-repeat;
    }

    .v-container {
        position: relative;
        top: 578px;
        padding: 5px;
    }

    .v-container svg {
        width: 25px;
        fill: #2897ca;
    }

    .v-container a {
        text-decoration: none;
        color: rgb(38, 38, 38);
    }


    /* 切換地圖 */
    .map-item {
        margin-top: 55px;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 999;
        box-shadow: 1px 2px 5px rgba(165, 165, 165, 0.248);
    }

    .map-item ul {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .map-item li {
        padding: 10px;
        width: 100%;
        text-align: center;
    }

    .map-item a {
        padding: 10px 120px;
        margin: 10px;
    }

    .item-0 {
        background-color: #26c1f0;

    }

    .item-1 {
        background-color: #fff;
    }

    .item-0 a {
        color: #fff;
        font-size: 20px;
        font-weight: bold;
    }

    .item-1 a {

        color: #26c1f0;
        font-size: 20px;
        font-weight: bold;
    }

    .gray {
        width: 100%;
        height: 100%;
        background-color: rgba(79, 78, 78, 0.878);
        position: fixed;
        bottom: 0;
        z-index: 998;
    }

    .gray a {
        padding: 315px;
        position: fixed;
        bottom: 0;
    }

    .to-map-item {
        z-index: -1;
    }

    /*收藏名單  */
    .heart-record {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 2px 8px;
    }


    .heart-record svg {
        width: 25px;
        fill: #2897ca;
    }

    .heart-record a {
        text-decoration: none;
        color: rgb(38, 38, 38);
    }

    .item {
        width: 356px;
        margin: 5px auto;
        padding: 5px;
        background-color: #fff;
        border-radius: 10px;
        bottom: 1px solid #dddddd;
        box-shadow: 2px 3px 5px #dddddd;
        border: 0.5px solid #ddd;
    }

    .clinic,
    .vacNum,
    .opened {
        margin: 2px;
        display: flex;
        align-items: center;
    }

    .opened .record-price {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        position: relative;
        left: 48px;
        font-size: 10px;

    }

    .pubEx,
    .ownEx,
    .check {
        border: 0.5px solid hsl(167, 79%, 50%);
        background-color: hsl(167, 79%, 50%);
        border-radius: 19px;
        padding: 2px 10px;
        margin-bottom: 3px;
        margin: 0 5px;
        text-align: center;
        align-items: center;
        color: #fff;
        font-weight: bold;

    }

    .pub-only,
    .own-only {
        border: 0.5px solid hsl(167, 79%, 50%);
        background-color: rgba(187, 187, 187, 0);
        color: rgb(119, 119, 119);
    }

    .nothing svg {
        fill: rgb(119, 119, 119);
    }

    /* 預約提醒 */
    .remind-time {
        padding-left: 10px;
    }

    .remind-content {
        margin-top: 55px;
        padding-top: 10px;
        /* padding: 10px; */
        margin-bottom: 64px;
    }

    hr {
        margin: 0;
    }

    .remind-object {
        /* margin-top: 15px; */
        padding: 10px;
        padding-top: 18px;
        background-color: aliceblue;
    }

    .remind-object ul,
    .clinic-data ul {
        padding: 0;
        margin: 0;
        padding: 10px;

    }

    .remind-object li,
    .clinic-data li {
        margin: 10px;
    }

    .clinic-data li {
        color: #2897ca;
    }

    .remind-object i,
    .clinic-data i {
        color: #2897ca;
        margin-right: 10px;
    }

    .fa-map-marker-alt {
        position: relative;
        left: 2px;
    }

    .font-color {
        font-size: 20px;
        font-weight: bold;
        color: #2897ca;
    }


    .march {
        width: 100%;
    }

    .clinic-data {
        padding: 10px;
        padding-top: 0;
        background-color: #b0e3f3;
    }

    .clinic-data a {
        text-decoration: none;
    }

    .external {
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    /* 篩選條件 */

    .filter-form {
        width: 100%;
        height: 798px;
        margin-top: 55px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

    }

    .form-content {
        padding: 20px;
        padding-right: 0;
        padding-top: 0;
        height: 100%;
        width: 75%;
        z-index: 999;
        background-color: #fff;
    }



    .status {
        display: flex;
        width: 80%;
        justify-content: space-around;
    }


    label {
        width: 100%;
        font-size: 20px;
        padding: 15px 120px 10px 0;
        color: #26c1f0;
        font-weight: bold;
    }



    label:first-child {
        margin-top: 0;
    }


    .form-check-input {
        margin-right: 15px;
    }

    .filter-gray {
        width: 35%;
        height: 100%;
        background-color: rgba(79, 78, 78, 0.878);

        z-index: 999;
    }

    .to-map-item {
        z-index: -1;
        z-index: 998;
    }

    .filter-gray a {
        padding: 400px 15%;
        position: fixed;
        left: 0;
    }
}